---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import Flecha from "../../public/Flecha.astro";
import LayoutPage from "../layouts/LayoutPage.astro";
import Launches from "../components/Launches.astro";
---

<LayoutPage title={SITE_TITLE} , description={SITE_DESCRIPTION}>
  <div class="w-full text-center py-20 bg-gray-800 bg-opacity-50">
    <h1
      class="mb-4 pb-3 text-4xl font-extrabold leading-none tracking-tight text-white md:text-5xl lg:text-6xl"
    >
      Lanzamientos de SpaceX 🚀
    </h1>
    <p
      class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400"
    >
      Conoce todos los lanzamientos de SpaceX en esta pagina gratuita.
    </p>
    <br />
    <a
      href="#"
      class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-gray-700 rounded-lg hover:bg-gray-600 focus:ring-4 focus:ring-blue-300"
    >
      Conoce mas sobre SpaceX
      <Flecha/>
    </a>
  </div>
  <div>
    <Launches />
  </div>
</LayoutPage>
