---
import {type APISpaceXResponse} from "../../src/types/api.ts";
const res = await fetch("https://api.spacexdata.com/v5/launches/query",{
    method: "POST",
    headers: {
        "Content-Type": "application/json",
    },
    body: JSON.stringify({
        query: {},
        options: {
            sort: {
                date_unix: "desc"
            },
            limit: 12
        }
    })
});
const {docs: launches} = await res.json() as APISpaceXResponse;
//console.log(launches)
---
<div class="conteiner px-4 grid gap-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    {
        launches.map((launch) => (
            <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="#">
                    <img
                        class="p-8 rounded-t-lg"
                        src={launch.links.patch.small}
                        alt="imagin"
                    />
                </a>
                <div class="px-5 pb-5">
                    <a href="#">
                        <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">
                            {launch.name}
                        </h5>
                    </a>
                </div>
            </div>       
        ))
    }
</div>